@import "./_colors.scss";
nav {
  padding: 20px 0;
  --primary-1: #{$primary-1};
  --primary-2: #{$primary-2};
  --secondary-1: #{$secondary-1};
  --secondary-2: #{$secondary-2};
  --secondary-3: #{$secondary-3};
  --seconadry-4: #{$secondary-4};

  ul {
    display: block;
    list-style: none;
    text-align: right;
  }

  ul li {
    display: inline;
    padding: 0px 10px;
  }

  ul li > a {
    color: var(--primary-1);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
  }

  ul li > a:hover {
    color: var(--primary-2);
  }

  ul li > a:active {
    color: var(--secondary-4);
  }
}

.hamburger {
  display: none;
}

@media (max-width: 54rem) {
  .hamburger {
    display: block;
    text-align: right;
  }

  nav ul {
    display: block;
    position: absolute;
    border: 1px solid #333;
    border-radius: 16px;
    width: 200px;
    height: auto;
    right: 40px;
    z-index: 1;
    padding: 15px;
    background-color: #fff;

    li {
      display: block;
      text-align: right;
      padding: 5px 7px;
    }
  }
}
