@use "styles/_grid.scss";
@use "styles/_typography.scss";
@use "styles/_nav.scss";
@import "styles/_colors.scss";

:root {
  --primary-1: #{$primary-1};
  --primary-2: #{$primary-2};
  --secondary-1: #{$secondary-1};
  --secondary-2: #{$secondary-2};
  --secondary-3: #{$secondary-3};
  --secondary-4: #{$secondary-4};
  --secondary-5: #{$secondary-5};
}

/*** Font Colors ***/
.clr-primary-1 {
  color: var(--primary-1);
}
.clr-primary-2 {
  color: var(--primary-2);
}
.clr-secondary-1 {
  color: var(--secondary-1);
}
.clr-secondary-2 {
  color: var(--secondary-2);
}
.clr-secondary-3 {
  color: var(--secondary-3);
}
.clr-secondary-4 {
  color: var(--secondary-4);
}
.clr-secondary-5 {
  color: var(--secondary-5);
}

/*** Background Colors ***/
.bg-primary-1 {
  background-color: var(--primary-1);
}
.bg-primary-2 {
  background-color: var(--primary-2);
}
.bg-secondary-1 {
  background-color: var(--secondary-1);
}
.bg-secondary-2 {
  background-color: var(--secondary-2);
}
.bg-secondary-3 {
  background-color: var(--secondary-3);
}
.bg-secondary-4 {
  background-color: var(--secondary-4);
}
.bg-secondary-5 {
  background-color: var(--secondary-5);
}

nav {
  margin: 0 40px;
}

main {
  .banner {
    background-color: var(--primary-1);
    padding: 40px 0;
    .banner-content {
      padding: 20px 40px;
      .hero-description {
        padding: 20px 0 10px 0;
        font-size: 24px;
        line-height: 1.3;
      }
      .hero-image-container {
        padding: 0;
        text-align: right;
        .hero-image {
          background-image: url("./../public/assets/img/restaurant_food.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 475px;
          border-radius: 16px;
        }
      }
    }
  }
  .categories {
    margin: 80px 40px;
    .online-order {
      padding: 0 20px 0 0;
      text-align: right;
    }
    .card {
      margin: 40px 10px;
      background-color: var(--secondary-3);
      padding-bottom: 40px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      border: 1px solid var(--secondary-3);
      img {
        padding-bottom: 10px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }
      h5 {
        padding: 10px 20px 0 20px;
        margin: 0;
        > span {
          display: block;
          position: relative;
          top: -20px;
          text-align: right;
          color: var(--secondary-1);
        }
      }
      p {
        font-size: 20px;
        line-height: 1.3;
        padding: 10px 20px;
        height: 160px;
        margin: 0;
      }
      a {
        margin-bottom: 20px;
        padding: 10px 20px;
        cursor: pointer;
        color: var(--secondary-4);
        font-weight: 600;
        text-align: left;
        text-decoration: none;
        font-size: 20px;
      }
      a:hover {
        color: var(--primary-2);
      }
    }
  }
}

.booking-form {
  margin: 40px;
  > form {
    display: grid;
    max-width: 200px;
    gap: 20px;
  }
}

@media (max-width: 64rem) {
  main {
    .banner {
      .banner-content {
        .hero-image {
          width: 300px;
          height: 375px;
        }
      }
    }
  }
}

@media (max-width: 48rem) {
  main {
    .banner {
      .banner-content {
        .hero-image {
          margin: 20px auto;
        }
      }
    }
  }
}

.btn {
  padding: 12px 25px;
  border-radius: 10px;
  text-shadow: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-2);
  color: var(--secondary-5);
}

.btn-primary:hover {
  background-color: var(--primary-1);
  color: var(--secondary-5);
  border: 1px solid var(--secondary-5);
}

.btn-secondary {
  background-color: var(--primary-2);
  color: var(--secondary-5);
}

footer {
  margin: 40px;
}
